

.calculator{
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px black;
}
.display{
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    background-color: beige;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto;
}
.button{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 5px;
    
}
button{
    cursor: pointer;
    background-color: bisque;
    height: 80px;
    width: 70px;
    font-size: 25px;
    border: none;
    
    
}
button:hover{
    background-color: azure;
}